body {
  margin: 0;
  padding: 0;
}

#Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ContentWindow {
  display: flex;
  justify-content: center;
  width: 500px;
}

#Content {
  height: 200px;
}